<div class="card" >
    <div class="card-header  text-white" style="background-color: #00917d;">
      <b>Data</b>
    </div>
    <ul class="list-group list-group-flush" style="text-align: left;">
    {% if data %}
        {% for object in data %}
        <li class="list-group-item">
            <span>{{object}}</span>
            <a class="m-1" style="float:right;" href="{% url 'delete_data' id=object.id %}" id="delete-{{object.id}}"><i class="fa fa-trash text-danger" ></i></a>
            {% if request.session.selected_data == object.id %}
            <a class="m-1" style="float:right;"><i class="fa fa-check-circle  text-success" ></i></a>
            {% else %}
            <a class="m-1" style="float:right;" href="{% url 'select_data' id=object.id %}" id="select-{{object.id}}"><i class="fa fa-check text-success" ></i></a>
            {% endif %}
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item text-center">
            <span>No data found</span>
        </li>
    {% endif %}
    </ul>
</div>