<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="min-width:90%">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="myModalLabel">preview</h4>
        </div>
        <div class="modal-body">
          <img src="" id="imagepreview" style="max-width:100%" >
        </div>
      </div>
    </div>
  </div>